<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Registro</title>
    <link rel="stylesheet" href="../../Public/CSS/rama.css">
</head>
<body>
    <div class="container">
        <div class="sidebar">
            <ul>
                <li><a href="./Inicio_de_sesion.html">Inicio</a></li>
                <li><a href="./interfaz_estudiantes.html">Interfaz estudiante</a></li>
                <li><a href="./Registro.html">Registro</a></li>
                <li><a href="./planilla_de_notas.html">Planilla Notas</a></li>
                <li><a href="./Interfaz_del_alumnado.html">Interfaz de alumnado</a></li>
            </ul>
        </div>        
        <div class="header">
            <img src="../../Public/imagenes/logo guevara.png" alt="Logo" class="logo">
            <span class="location">Colegio Provincial Dr. Ernesto Guevara</span>
            <img src="../../Public/imagenes/usuario.jpeg" alt="Perfil" class="profile">
        </div>
        <div class="image"></div>
        <div class="form">
            <p>Iniciar Sesion</p>
            <input type="text" placeholder="Nombre Completo">
            <input type="password" placeholder="Contraseña">
            <button>Acceder</button>
        </div>
    </div>
</body>
</html>

