<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../Public/CSS/alumnado.css">
    <title>Coding Platform</title>
</head>
<body style="background-image: url(../../Public/imagenes/Fondo.jpg); background-size: cover; background-position: center;">
    <header>
        <img src="../../Public/imagenes/logo guevara.png" alt="Coding Platform Logo">
        <div class="user-info">
            <img src="../../Public/imagenes/usuario.jpeg" alt="User Icon">
            <span>Coleguio Dr. Ernesto. Guevara</span>
        </div>
    </header>
    <main>
        <section class="curso-section">
            <h2>Cursos</h2>
            <div class="courses">
                <div class="course">Ramiro</div>
                <div class="course">Yeudry</div>
            </div>
        </section>
    </main>
</body>
</html>
