<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Registro</title>
    <link rel="stylesheet" href="../../Public/CSS/footer.css">
    <link rel="stylesheet" href="../../Public/CSS/planilla.css">
</head>
<body>
    
    <div class="container">
        <div class="sidebar">
            <ul>
                <li><a href="./Inicio_de_sesion.html">Inicio</a></li>
                <li><a href="./interfaz_estudiantes.html">Interfaz estudiante</a></li>
                <li><a href="./Registro.html">Registro</a></li>
                <li><a href="./planilla_de_notas.html">Planilla Notas</a></li>
                <li><a href="./Interfaz_del_alumnado.html">Interfaz de alumnado</a></li>
            </ul>
        </div>        
        <div class="header">
            <img src="../../Public/imagenes/logo guevara.png" alt="Logo" class="logo">
            <span class="location">Colegio Provincial Dr. Ernesto Guevara</span>
            <img src="../../Public/imagenes/usuario.jpeg" alt="Perfil" class="profile">
        </div>
        <div class="image">
            <table>
                <tr>
                    <th colspan="15">colegio provincial DR. ernesto guevara</th>
                </tr>
                <tr>
                    <th colspan="5">Nombre:Ramiro aquino</th>
                    <th colspan="5">curso: 7mo2da</th>
                    <th colspan="5">año:7mo</th>
                </tr>
                
                <tr>
                    <th colspan="2">ciclo superior</th>
                    <th class="vertical">Matematica</th>
                    <th class="vertical">Ingles tecnico</th>
                    <th class="vertical">Marco juridico</th>
                    <th class="vertical">Asitencia</th>
                    <th class="vertical">Autogestion</th>
                    <th class="vertical">Hardware</th>
                    <th class="vertical">Practicas Profesionalizantes</th>
                    <th class="vertical">Programacion</th>
                    <th class="vertical">Redes</th>
                    <th class="vertical">Ardruino</th>
                </tr>
                <tr>
                    <th rowspan="3">1° cuatrimestre</th>
                    <th>1er informe</th>
                    <th><input type="number" id="nota" min="0" max="10" required></th>
                    <th><input type="number" id="nota" min="0" max="10" required></th>
                    <th><input type="number" id="nota" min="0" max="10" required></th>
                    <th><input type="number" id="nota" min="0" max="10" required></th>
                    <th><input type="number" id="nota" min="0" max="10" required></th>
                    <th><input type="number" id="nota" min="0" max="10" required></th>
                    <th><input type="number" id="nota" min="0" max="10" required></th>
                    <th><input type="number" id="nota" min="0" max="10" required></th>
                    <th><input type="number" id="nota" min="0" max="10" required></th>
                    <th><input type="number" id="nota" min="0" max="10" required></th>
                   
                </tr>
                <tr>
                    <th>2do informe</th>
                    <th><input type="number" id="nota" min="0" max="10" required></th>
                    <th><input type="number" id="nota" min="0" max="10" required></th>
                    <th><input type="number" id="nota" min="0" max="10" required></th>
                    <th><input type="number" id="nota" min="0" max="10" required></th>
                    <th><input type="number" id="nota" min="0" max="10" required></th>
                    <th><input type="number" id="nota" min="0" max="10" required></th>
                    <th><input type="number" id="nota" min="0" max="10" required></th>
                    <th><input type="number" id="nota" min="0" max="10" required></th>
                    <th><input type="number" id="nota" min="0" max="10" required></th>
                    <th><input type="number" id="nota" min="0" max="10" required></th>
                 
                </tr>
                <tr>
                    <th>nota</th>
                    <th><input type="number" id="nota" min="0" max="10" required></th>
                    <th><input type="number" id="nota" min="0" max="10" required></th>
                    <th><input type="number" id="nota" min="0" max="10" required></th>
                    <th><input type="number" id="nota" min="0" max="10" required></th>
                    <th><input type="number" id="nota" min="0" max="10" required></th>
                    <th><input type="number" id="nota" min="0" max="10" required></th>
                    <th><input type="number" id="nota" min="0" max="10" required></th>
                    <th><input type="number" id="nota" min="0" max="10" required></th>
                    <th><input type="number" id="nota" min="0" max="10" required></th>
                    <th><input type="number" id="nota" min="0" max="10" required></th>
                  
                </tr>
            </tr>
            <tr>
                <th rowspan="3">2° cuatrimestre</th>
                <th>1er informe</th>
                <th><input type="number" id="nota" min="0" max="10" required></th>
                <th><input type="number" id="nota" min="0" max="10" required></th>
                <th><input type="number" id="nota" min="0" max="10" required></th>
                <th><input type="number" id="nota" min="0" max="10" required></th>
                <th><input type="number" id="nota" min="0" max="10" required></th>
                <th><input type="number" id="nota" min="0" max="10" required></th>
                <th><input type="number" id="nota" min="0" max="10" required></th>
                <th><input type="number" id="nota" min="0" max="10" required></th>
                <th><input type="number" id="nota" min="0" max="10" required></th>
                <th><input type="number" id="nota" min="0" max="10" required></th>
                
            </tr>
            <tr>
                <th>2do informe</th>
                <th><input type="number" id="nota" min="0" max="10" required></th>
                <th><input type="number" id="nota" min="0" max="10" required></th>
                <th><input type="number" id="nota" min="0" max="10" required></th>
                <th><input type="number" id="nota" min="0" max="10" required></th>
                <th><input type="number" id="nota" min="0" max="10" required></th>
                <th><input type="number" id="nota" min="0" max="10" required></th>
                <th><input type="number" id="nota" min="0" max="10" required></th>
                <th><input type="number" id="nota" min="0" max="10" required></th>
                <th><input type="number" id="nota" min="0" max="10" required></th>
                <th><input type="number" id="nota" min="0" max="10" required></th>
             
            </tr>
            <tr>
                <th>nota</th>
                <th><input type="number" id="nota" min="0" max="10" required></th>
                <th><input type="number" id="nota" min="0" max="10" required></th>
                <th><input type="number" id="nota" min="0" max="10" required></th>
                <th><input type="number" id="nota" min="0" max="10" required></th>
                <th><input type="number" id="nota" min="0" max="10" required></th>
                <th><input type="number" id="nota" min="0" max="10" required></th>
                <th><input type="number" id="nota" min="0" max="10" required></th>
                <th><input type="number" id="nota" min="0" max="10" required></th>
                <th><input type="number" id="nota" min="0" max="10" required></th>
                <th><input type="number" id="nota" min="0" max="10" required></th>
                
            </tr>
    
            </table>
                    
    
              